@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Itim&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply scroll-smooth;
  }
  body{;
    @apply font-body text-gray-100 bg-slate-900;
    /* background: url("/bg.png"); */
    @apply bg-cover bg-center;
  }
  button{
    @apply px-4 font-medium hover:shadow-xl active:shadow-lg rounded-xl py-2 transition duration-300 ease-out;
    @apply bg-gradient-to-r from-purple-500 to-pink-400 text-white;
    @apply -hue-rotate-30 hover:hue-rotate-0 active:hue-rotate-30;
  }

  .text-gradient {
    @apply bg-clip-text bg-gradient-to-r text-transparent from-violet-500 via-fuchsia-600 to-pink-400
  }
 .swiper-pagination{
   @apply text-gray-900
 }
}

@layer components{
  .swiper-pagination-bullet{
    @apply text-black w-8 h-8;
  }
}
